@font-face {
  font-family: fuente texto;
  src: url(../font/rubik-medium.ttf); }


@font-face {
	font-family: fuente logo;
	src: url(../font/ArchitectsDaughter.ttf);

}
$fuente2: calibri;
$color1:#2B2D42; /*gris oscuro*/
$color2:#8D99AE; /*gris clarito*/
$color3:#EDF2F4; /*casi blanco*/	
$color4:#EF233C; /*rojo suave*/		
$color5:#D90429; /*rojo oscuro*/


  
body{
	background:$color3;

}
.contenedor{
	max-width:1000px;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	background:white;
	justify-content:center;
}









header{
	.logo{
		margin-left:100px;
		position:relative;
		top:15px;
		





		a{
		text-decoration:none;
		display: flex;






		
	


		.logo1{
			color:$color5;
			font-family: fuente logo;
			font-size: 30px;
			margin: 0;
			padding:0 3px;
			&:hover{
				color:$color4;
			}
			
		}	
		.logo2{
			color:$color1;
			font-family: fuente logo;
			font-size: 30px;
			margin: 0;
			&:hover{
				color:black;
			}
		}	
	}


	}

		
}
.banner{
	position:relative;
	* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}



.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: $color3;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots{position:absolute;
	top: 87%;
    left: 48%;
}
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: $color4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: $color2;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
}


.menu{
	
	
	text-align:center;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,bc2a09+48,bc2a09+48,f02f17+98,f02f17+98,f16f5c+100,e73827+100 */
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(248,80,50,1) 0%, rgba(188,42,9,1) 48%, rgba(188,42,9,1) 48%, rgba(240,47,23,1) 98%, rgba(240,47,23,1) 98%, rgba(241,111,92,1) 100%, rgba(231,56,39,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(248,80,50,1) 0%,rgba(188,42,9,1) 48%,rgba(188,42,9,1) 48%,rgba(240,47,23,1) 98%,rgba(240,47,23,1) 98%,rgba(241,111,92,1) 100%,rgba(231,56,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(248,80,50,1) 0%,rgba(188,42,9,1) 48%,rgba(188,42,9,1) 48%,rgba(240,47,23,1) 98%,rgba(240,47,23,1) 98%,rgba(241,111,92,1) 100%,rgba(231,56,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	ul{
		list-style: none;


		.hombres-down{
			position:relative;
			padding:10px 30px;


			&:hover{
				background:$color1;
				color:$color3;	
				.down{
					width: 600px;
					max-height: 300px;
					border:1px solid $color1;
					li{
						border-top: none;
						padding:5px 3px;
					}
					.sinborde{
						border-top:none;
					}
					
				}
			}

			.down{
				width: 600px;
				text-align: left;
				overflow: hidden;
				z-index: 2;
				transition: max-height 0.5s;
				max-height: 0;
				width: 136px;
				background:$color1;
				position:absolute;
				padding:0 7px;
				margin-top:9px;
				margin-left: -33%;
				color:$color2;	
				border-radius:10px;
				box-shadow: 2px 2px 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC; 
				li{
					
					&:hover{
						background:$color4;
						border-radius:10px;
						color: $color3;
						
					}
				}


			}
		.ninos-down{
			margin-left: -54%;
		}

		}


		a{
		font-family: fuente texto, $fuente2;	
		text-decoration: none;
		text-transform:uppercase;
		font-size: 14px;
		color:$color1;
		display: inline-block;

		
		


		}
	}
}







h3{
	
	margin-top:40px;
	font-size: 22px;
	font-family: fuente texto, calibri;
	color:$color5;
	&:hover{
		color:$color4;
	}
	
}


	.bloque{

		width: 230px;
		height: 230px;
		margin:8px;
		position:relative;
		border:2px solid $color3;
		&:hover{
			border:2px solid $color2;
			border-radius:10px;
			.comprar{
				max-height: 100%;
				top:200px;

				
				
			}

		}
		.precio{
			text-align: right;
			display: inline-block;
			position: absolute;
			left: 155px;
			p{
				font-size: 25px;
				font-family: fuente texto, $fuente2;
				color:$color5;
			}
		}

		.imagen{
			text-align: center;
			
			img{
				padding-top: 22px;
			}
		}






		.detalle{
			text-align: right;
			display: inline-block;
			position: absolute;
			top:185px;
			left: 155px;
			p{
				font-size: 15px;
				font-family: fuente texto, $fuente2;
				color:$color1;
				text-transform: uppercase;
			}
		}

		.comprar{
			max-height: 0px;
			transition:max-height 1s;
			overflow: hidden;
			position:absolute;
			top:200px;
			left: 15px;
			background:$color4;
			width: 80px;
			border-radius:10px;
			text-align:center;
			
			p{
				font-size: 12px;
				font-family: fuente texto, $fuente2;
				color:$color3;
				text-transform: uppercase;
				margin: 0;
				padding:2px;
			}

		}
	}



footer{
	margin-top:80px;
	background: $color5;
	color: $color3;
	font-family:Calibri;
	display:flex;
	justify-content:space-between;

	p{
		font-size:14px;
		padding-left:20px;
		padding-top:15px;
	}


	ul{
		display: flex;
		padding-top:13px;
		list-style: none;
		text-decoration:none;
		a{
			text-decoration:none;
		}
		li{
			font-size:14px;
			padding:0 13px;
			color:$color3;
			&:hover{
				color:$color2;
			}
		}
	}

	.redes{
		height: 60px;
		margin-right:80px;
		padding-top:20px;

		.circuloot{
 	   		background-size: contain;
    		background-image: url("../img/instagram.png");
    		background-repeat: no-repeat;
    		background-position: center;
 	   		border-radius:24%;
 	   		margin:0 5px;
 	   		width: 35px;
    		height: 35px;
 	   		display: inline-block;
 	   	
   			
 	   		border:3px solid rgba(231,62,183,0.7);
 	   		background-color: rgba(255, 255, 255, 0.4);
 	   		img{
 	   			 max-width: 100%;

 	   		}
 	   		&:hover{
 	   			border:3px solid rgba(255,255,255,0.4);
 	   			background-color: rgba(255, 255, 255, 0.8);
 	   		}
 	   	

 	   }



 	   .circuloml{
 	   		background-size: contain;
    		background-image: url("../img/ml.png");
    		background-repeat: no-repeat;
    		background-position: center;
 	   		border-radius:24%;
 	   		margin:0 5px;
 	   		width: 35px;
    		height: 35px;
 	   		display: inline-block;
 	   		
   			
 	   		border:3px solid rgba(233,228,67,0.7);
 	   		background-color: rgba(255, 255, 255, 0.4);
 	   		text-align:center;
 	   		img{
 	   			    max-width: 84%;
    				position: relative;
   					top: 50px;

 	   		}
 	   		&:hover{
 	   			border:3px solid rgba(255,255,255,0.4);
 	   			background-color: rgba(255, 255, 255, 0.8);
 	   		}
 	   	}




		.circuloface{
 	   		background-size: contain;
    		background-image: url("../img/face.png");
    		background-repeat: no-repeat;
    		background-position: center;
 	   		border-radius:24%;
 	   		margin:0 5px;
 	   		width: 35px;
    		height: 35px;
 	   		display: inline-block;
 	   		
   			
 	   		
 	   		border:3px solid rgba(43,78,196,0.7);
 	   		background-color: rgba(255, 255, 255, 0.4);
 	   		img{
 	   			 max-width: 100%;

 	   		}
 	   		&:hover{
 	   			border:3px solid rgba(255,255,255,0.4);
 	   			background-color: rgba(255, 255, 255, 0.8);
 	   		}
 	   	}
	}
}
